body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/ee/66/d1/ee66d158a7e5105b870c0e1d504933de.jpg');
}
body, a:link, a:visited, a:active{
  color: lightblue;
  text-decoration: none;
}
.title, .addDancerButton, .lineup-button{
  padding:5px 12px;
  float:right;
}

.lineup-button {
  background-color: #014f68;
}

.topbar{
  height:32px;
  background-color: #120707;
}

.title{
  background-color: #22365c;
}

.dancer{
  position:absolute;
}

.dancer:hover {
  z-index: -1;
}

.tipsy-dancer{
}

.inflated-dancer {
}

.deflated-dancer {
}

.orbital-dancer {
}